{% extends 'SgDatatablesBundle:Column:column.html.twig' %}

{% block data %}
    "data": "{{ column.data }}",
    "render": function(data, type, row, meta) {
        if (row.{{ column.closed }}) {
            var text = ''
                + row.{{ column.closedby }}
                + ': '
                + row.{{ column.reason }}
                + '<div class="datatable-date">'
                + render_datetime(row.{{ column.date }}, type, row, meta, '{{ column.dateFormat }}')
                + '</div>';
            return text;
        } else {
            return "";
        }
    },
{% endblock %}
